.swatch_button {
    background: none;
    min-width: 36px;
    min-height: 36px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid transparent;
}

.swatch_button:hover {
    border: 2px solid @accent_bg_color;
    box-shadow: none;
}

.wallpaper-btn {
    min-width: 34px;
    min-height: 30px;
    padding: 2px;
    margin: 0 2px;
    border-radius: 9999px;
    background: transparent;
}

.gray-btn {
    background: transparent;
    min-width: 34px;
    min-height: 30px;
    padding: 2px;
    margin: 0 2px;
    border-radius: 9999px;
}

#center-bg.light-fg .main-appbar > label,
#center-bg.light-fg .main-appbar > .view-title {
  color: #fff;
  text-shadow: 0 2px alpha(@window_fg_color, 0.1);
}

#center-bg.light-fg .main-appbar > menubutton > button {
  color: #fff;
  background: alpha(#fff, 0.32);
  box-shadow: 0 0 4px 1px alpha(@window_fg_color, 0.1);
}

#center-bg.light-fg .main-appbar > button:not(.wallpaper-btn):not(.gray-btn):not(.close):not(.minimize):not(.maximize) {
  color: #fff;
  background: alpha(#fff, 0.32);
  box-shadow: 0 0 4px 1px alpha(@window_fg_color, 0.1);
}

#center-bg.light-fg .disclosure-button {
  color: #fff;
  background: alpha(#fff, 0.32);
  box-shadow: 0 0 4px 1px alpha(@window_fg_color, 0.1);
}

#center-bg.light-fg windowcontrols button {
  background: transparent;
}

.sidebar-view {
  margin: 6px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px alpha(@surface_container_lowest_bg_color, 0.66), 0 2px 4px 0 alpha(@window_fg_color, 0.32);
}
.inspector-view {
  margin: 6px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px alpha(@surface_container_lowest_bg_color, 0.66), 0 2px 4px 0 alpha(@window_fg_color, 0.32);
  background: @surface_container_bg_color;
}

.overlay-popover contents, .overlay-popover arrow {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.overlay-popover button {
  background: @accent_container_bg_color;
  box-shadow: 0 2px 4px 0 alpha(@shadow, 0.32);
  color: @accent_container_fg_color;
  min-height: 56px;
  padding: 4px 16px;
}

/* overrides for spacing and coloring, upstream when possible */
.mini-content-block {
  padding: 8px;
  margin: 0;
  background: @surface_container_high_bg_color;
}
row:selected .mini-content-block {
    background: @accent_container_bg_color;
}
dropdown {
    min-height: 40px;
}
dropdown button {
    min-height: 40px;
    padding: 0 12px;
    background: @suggested_container_bg_color;
}
dropdown arrow {
    color: @suggested_container_fg_color;
}
dropdown label {
    color: @suggested_container_fg_color;
}

button.flat:hover {
    color: @accent_container_fg_color;
    background: @accent_container_bg_color;
}
button.flat:active {
    color: @accent_container_fg_color;
    background: @accent_container_bg_color;
}
button.flat:hover:active {
    color: @accent_container_fg_color;
    background: @accent_container_bg_color;
}
button.flat:checked {
    color: @accent_container_fg_color;
    background: @accent_container_bg_color;
}

spinbutton .up,
spinbutton .down {
    background: @suggested_container_bg_color;
    color: @suggested_container_fg_color;
    box-shadow: 0 0 0 1px alpha(@window_fg_color, 0.1);
    min-width: 40px;
    min-height: 40px;
    padding: 0;
}
spinbutton .up:hover,
spinbutton .down:hover {
    background: darken(@suggested_container_bg_color, 8%);
}
spinbutton .up:active,
spinbutton .down:active {
    background: darken(@suggested_container_bg_color, 14%);
}

spinbutton text {
    font-size: 1.33rem;
}