.swatch_button {
    background: none;
    min-width: 36px;
    min-height: 36px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid transparent;
}

.swatch_button:hover {
    border: 2px solid @accent_bg_color;
    box-shadow: none;
}